#alltobe,#alltobe1,#alltobe2,#alltobe3,#alltobe4{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    gap: 10px;
    place-items: center;
}

@media only screen and (min-width: 660px) and (max-width: 880px) {
    #alltobe,#alltobe1,#alltobe2,#alltobe3,#alltobe4{
        grid-template-columns: auto auto auto;
    }

}
@media only screen and (min-width: 880px) and (max-width: 1100px) {
    #alltobe,#alltobe1,#alltobe2,#alltobe3,#alltobe4{
        grid-template-columns: auto auto auto auto;
    }
}
@media only screen and (min-width: 1100px) and (max-width: 1220px) {
    #alltobe,#alltobe1,#alltobe2,#alltobe3,#alltobe4{
        grid-template-columns: auto auto auto auto auto;
    }
}
@media only screen and (min-width: 1220px) and (max-width: 1440px) {
    #alltobe,#alltobe1,#alltobe2,#alltobe3,#alltobe4{
        grid-template-columns: auto auto auto auto auto auto;
    }
}
@media only screen and (min-width: 1440px) and (max-width: 1660px) {
    #alltobe,#alltobe1,#alltobe2,#alltobe3,#alltobe4{
        grid-template-columns: auto auto auto auto auto auto auto;
    }
}
@media only screen and (min-width: 1660px) and (max-width: 1880px) {
    #alltobe,#alltobe1,#alltobe2,#alltobe3,#alltobe4{
        grid-template-columns: auto auto auto auto auto auto auto auto;
    }
}
@media only screen and (min-width: 1880px) and (max-width: 2100px) {
    #alltobe,#alltobe1,#alltobe2,#alltobe3,#alltobe4{
        grid-template-columns: auto auto auto auto auto auto auto auto auto;
    }
}






#hastag{
    margin: 10px;
    
}
#nextHastag{
    position: relative;
}
.hastag {
    min-height: 100px;
    width: auto;
    overflow-x: auto;
    display: -webkit-box;
    scroll-behavior: smooth;
    padding-top: 10px;

}
.hastag::-webkit-scrollbar {
    height: 0.1px;
}
.hastag-item{
    width: 186px;
    height: 56px;
    padding: 3px;
    float: left;

}
.hastag-item-content{
    width: 100%;
    height: 100%;
    border-radius: 7px;
    background-color: #6937B9;
    display: flex;
    cursor: pointer;
}
.hastag-item-content img{
    width: 60px;
    height: 100%;
    border-radius: 7px 0px 0px 7px;
}
.hastag-item-content-div{
    font-size: 12px;
    width: 126px;
    padding: 0px 5px;
}
.title-global{
    font-weight: 600;
    font-style: 55px;
    color: white;
    margin-left: 10px;
}
.container-view{
    height: 40px;
    display: flex;
    align-items: flex-end;
    font-style: 14px;
    margin-left: 10px;
}
.nextTag, .prevTag{
    width: 50px;
    height: 106px;

    background-color: rgba(0, 0, 0, 0.544);
    margin-top: 13px;
    font-size: 60px;
    color: white;
    z-index: 100;
    cursor: pointer;
    top: 0px;
}
.prevTag{
    left: 0px;
}
.nextTag{
    right: 0px;
}

.panagition{
    width: 100%;
    height: 40px;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.panagition-item{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #6937B9;
    margin: 0px 5px;
    cursor: pointer;
}
.panagition-item-checked{
    background-color: #6937b95a;
}
.panagition-item:hover, .panagition-item-next:hover{
    background-color: #6937b99f;
}
.panagition-item-next{
    height: 35px;
    width: 80px;
    border-radius: 30px;
    background-color: #6937B9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 5px;
    cursor: pointer;
}

.panagition-item-next svg{
    width: 20px;
    height: 20px;
    fill: white;
}
.on{
    display: flex;
}
.off{
    display: none;
}




