.detail-body {
    margin: 0 auto;
    display: flex;
    padding: 10px 20px 10px 20px;

}
  
@media screen and (min-width: 1700px) {
    #alltobe4{
        padding: 0px 0px 20px 27px !important;
    
        width: 1700px;
        margin: 0 auto;
        grid-template-columns:auto auto auto auto auto auto auto auto !important;
    }

    .detail-body {
        width: 1700px;
    }

    .detail-body-left {
        width: 13%;
    }

    .detail-body-left #alltobe {
        grid-template-columns: auto;
    }

    .detail-body-center {
        padding: 8px 5px 0px 5px;
        width: 62%;
    }

    .detail-body-center-banner {
        height: 541px;
        background-color: #3c1e6e;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px 0px 20px;
    }

    .detail-body-center-banner .detail-body-center-banner-left {
        width: 60%;
    }

    .detail-body-center-banner .detail-body-center-banner-left iframe {
        width: 100%;
    }

    .detail-body-center-banner .detail-body-center-banner-right {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .detail-body-center-banner .detail-body-center-banner-right label {
        letter-spacing: 5px;
        opacity: 0.5;
        color: white;
    }

    .detail-body-center-banner .detail-body-center-banner-right h3 {
        color: white;
        font-family: "Fredoka One", sans-serif;
        font-size: 1.7em;
        font-weight: bold;
    }

    .detail-body-center-banner .detail-body-center-banner-right .btn-detail {
        font-size: 22px;
        color: rgb(60, 30, 110);
        text-transform: capitalize;
        font-family: "Fredoka One", sans-serif;
        cursor: pointer;
        transform: perspective(1px) translateZ(0px);
        transition-duration: 0.2s;
        background-color: rgb(53, 253, 255);
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        border-radius: 100px;
        padding: 1.5vh 2vw;
        font-weight: bold;
        margin-top: 5px;
    }

    .detail-body-center-banner-content #alltobe2 {
        padding: 10px 0px;
        grid-template-columns: auto auto auto auto auto;
    }

    .detail-body-center-banner-content #alltobe2 a {
        width: 195px !important;
    }

    .detail-body-center-banner-content-descript {
        min-height: 330px;
        background-color: #3c1e6e;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
    }
    .detail-body-center-banner-content-descript-left{
        width: 80%;
    }
    .detail-body-center-banner-content-descript-left-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .detail-body-center-banner-content-descript-left-header-title{
        display: flex;
        flex-direction: column;
    }
    .detail-body-center-banner-content-descript-left-header-title label{
        font-size: 1.2rem;
    }
    .detail-body-center-banner-content-descript-left-header-title span{
        font-size: 0.7em;
        font-weight: normal;
        opacity: 0.5;
        color: rgb(222, 202, 255);
    }
    .detail-body-center-banner-content-descript-left-header-action{
        display: flex;
        align-items: center;
    }
    .detail-body-center-banner-content-descript-left-header-action .share{
        font-size: 0.7em;
        display: flex;
        border-radius: 20px;
        background-color: rgb(40, 34, 84);
        padding: 10px 15px 10px 5px;
        cursor: pointer;
    }
    .detail-body-center-banner-content-descript-left-header-action .share:hover{
        background-color: rgb(10, 8, 22);
    }
    
    .detail-body-center-banner-content-descript-left-header-action .share svg{
        width: 24px;
        height: 15px;
    }
    .detail-body-center-banner-content-descript-left-header-action .item{
        display: flex;
        align-items: center;
        font-size: 0.7em;
        margin-left: 10px; 
    }
    .detail-body-center-banner-content-descript-left-header-action .item .item1{
        display: flex;
        flex-direction: column;
    }
    .detail-body-center-banner-content-descript-left-header-action .label{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: white;
        color: black;
        margin-left: 10px;
      
    }


    .detail-body-center-banner-content-descript-left p{
        opacity: 0.5;
        font-size: 0.8em;
        margin: 5px 0px 5px 0px;
    }
    .detail-body-center-banner-content-descript-left .category{
        margin-top: 10px;
        
    }
    .detail-body-center-banner-content-descript-left .category .item{
        background-color: rgb(40, 34, 84);
        padding: 5px 10px 5px 10px;
        cursor: pointer;
        min-width: 70px;
        border-radius: 20px;
        display: flex;
        float: left;
        cursor: pointer;
    }
    .detail-body-center-banner-content-descript-left .category .item:hover{
        background-color: rgb(10, 8, 22);
    }
    .detail-body-center-banner-content-descript-right-box{
        width: 20px;
        height: 20px;
        background-color: gold;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 5px;
    }
    
    .detail-body-center-banner-content-descript-right{
        width: 20%;
       
    }

    .detail-body-center-banner .detail-body-center-banner-right .btn-detail:hover {
        transform: scale(1.2);
    }

    .alltobe3-none {
        display: none !important;
    }

    .detail-body-right {
        width: 25%;
    }

    .detail-body-right #alltobe1 {
        grid-template-columns: auto auto;
    }
}



@media screen and (min-width: 1050px) and (max-width: 1699px) {
    .alltobe3-block {
        display: none !important;
    }

    .detail-body {
        width: 100%;
    }

    .detail-body-left {
        display: none;
    }

    .detail-body-center {
        width: 70%;
        padding: 17px 0px 0px 0px;

    }

    .detail-body-center #alltobe3 {
        grid-template-columns: auto auto auto auto auto;
    }

    .detail-body-center #alltobe3 a {
        width: 195px !important;
    }

    .detail-body-center-banner {
        height: 540px;
        background-color: #3c1e6e;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 20px 0px 20px;
    }

    .detail-body-center-banner .detail-body-center-banner-left {
        width: 60%;
    }

    .detail-body-center-banner .detail-body-center-banner-right {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .detail-body-center-banner .detail-body-center-banner-right label {
        letter-spacing: 5px;
        opacity: 0.5;
        color: white;
    }

    .detail-body-center-banner .detail-body-center-banner-right h3 {
        color: white;
        font-family: "Fredoka One", sans-serif;
        font-size: 1.7em;
        font-weight: bold;
    }

    .detail-body-center-banner .detail-body-center-banner-right .btn-detail {
        font-size: 22px;
        color: rgb(60, 30, 110);
        text-transform: capitalize;
        font-family: "Fredoka One", sans-serif;
        cursor: pointer;
        transform: perspective(1px) translateZ(0px);
        transition-duration: 0.2s;
        background-color: rgb(53, 253, 255);
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        border-radius: 100px;
        padding: 1.5vh 2vw;
        font-weight: bold;
        margin-top: 5px;
    }

    .detail-body-center-banner-content #alltobe2 {
        grid-template-columns: auto auto auto auto auto;
        padding: 10px 0px 0px 0px !important;
    }

    .detail-body-center-banner-content #alltobe2 a {
        width: 197px !important;
    }

    .detail-body-center-banner-content-descript {
        min-height: 330px;
        background-color: #3c1e6e;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
    }
    .detail-body-center-banner-content-descript-left{
        width: 80%;
    }
    .detail-body-center-banner-content-descript-left-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .detail-body-center-banner-content-descript-left-header-title{
        display: flex;
        flex-direction: column;
    }
    .detail-body-center-banner-content-descript-left-header-title label{
        font-size: 1.2rem;
    }
    .detail-body-center-banner-content-descript-left-header-title span{
        font-size: 0.7em;
        font-weight: normal;
        opacity: 0.5;
        color: rgb(222, 202, 255);
    }
    .detail-body-center-banner-content-descript-left-header-action{
        display: flex;
        align-items: center;
    }
    .detail-body-center-banner-content-descript-left-header-action .share{
        font-size: 0.7em;
        display: flex;
        border-radius: 20px;
        background-color: rgb(40, 34, 84);
        padding: 10px 15px 10px 5px;
        cursor: pointer;
    }
    .detail-body-center-banner-content-descript-left-header-action .share:hover{
        background-color: rgb(10, 8, 22);
    }
    
    .detail-body-center-banner-content-descript-left-header-action .share svg{
        width: 24px;
        height: 15px;
    }
    .detail-body-center-banner-content-descript-left-header-action .item{
        display: flex;
        align-items: center;
        font-size: 0.7em;
        margin-left: 10px; 
    }
    .detail-body-center-banner-content-descript-left-header-action .item .item1{
        display: flex;
        flex-direction: column;
    }
    .detail-body-center-banner-content-descript-left-header-action .label{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: white;
        color: black;
        margin-left: 10px;
      
    }


    .detail-body-center-banner-content-descript-left p{
        opacity: 0.5;
        font-size: 0.8em;
        margin: 5px 0px 5px 0px;
    }
    .detail-body-center-banner-content-descript-left .category{
        margin-top: 10px;
        
    }
    .detail-body-center-banner-content-descript-left .category .item{
        background-color: rgb(40, 34, 84);
        padding: 10px 10px 10px 10px;
        cursor: pointer;
        min-width: 70px;
        border-radius: 20px;
        display: flex;
        float: left;
        cursor: pointer;
    }
    .detail-body-center-banner-content-descript-left .category .item:hover{
        background-color: rgb(10, 8, 22);
    }
    .detail-body-center-banner-content-descript-right-box{
        width: 20px;
        height: 20px;
        background-color: gold;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .detail-body-center-banner .detail-body-center-banner-right .btn-detail:hover {
        transform: scale(1.2);
    }

    .detail-body-right {
        width: 25%;
    }

    .detail-body-right #alltobe1 {
        grid-template-columns: auto auto;
    }

 

    .detail-body-center #alltobe3 {
        grid-template-columns: auto auto auto auto auto;
    }

    .detail-body-right {
        padding: 7px 0px 0px 0px;
        width: 30%;
    }

    .detail-body-right #alltobe1 {
        grid-template-columns: auto auto;
    }

}
@media screen and (max-width: 1400px) {
    .detail-body-center #alltobe2 a {
        width: 176px !important;
        height: 80px !important;
    }
    .detail-body-right #alltobe1 a {
        width: 176px !important;
        height: 80px !important;
    }
    .detail-body-center #alltobe3 a{
        width: 157px !important;
        height: 80px !important;
    }
}
@media screen and (max-width: 1300px) {
    .detail-body-center-banner{
        height: 532px !important;
    }
    .detail-body-center #alltobe2 a {
        width: 157px !important;
        height: 80px !important;
    }
    .detail-body-right #alltobe1 a {
        width: 160px !important;
        height: 80px !important;
    }
    .detail-body-center #alltobe3 a{
        width: 135px !important;
        height: 80px !important;
    }
}

@media screen and (max-width: 1200px) {

    .detail-body-center #alltobe2 a {
        width: 135px !important;
        height: 80px !important;
    }
    .detail-body-right #alltobe1 a {
        width: 135px !important;
        height: 80px !important;
    }
    .detail-body-center #alltobe3 a{
        width: 135px !important;
        height: 80px !important;
    }
}

@media screen and (max-width: 1049px) {
    .alltobe3-none {
        display: none !important;
    }
    .detail-body {
        width: 100%;
        padding: 0 !important;
    }

    .detail-body-left {
        display: none;
    }

    
    .detail-body-right {
        display: none;
    }
    .detail-body-center {
        width: 100%;
        /* display: flex; */
    }
    .detail-body-center-banner {
        min-height: 300px;
        position: relative;
        background-color: #3c1e6e;
    }
    .detail-body-center-banner-left svg{
        display:  none;
    }
    .detail-body-center-banner iframe{
        width: 100% !important;
        height: 100% !important;
    }


    .detail-body-center-banner-content #alltobe2 {
        display: none;
    }
    .detail-body-right #alltobe1 a {
        width: 135px !important;
        height: 80px !important;
    }
    #alltobe4{
        grid-template-columns: auto auto ;
        padding: 10px 10px 20px 10px !important;
    }
    #alltobe4 a{
        width: 168px !important;
        height: 80px !important;
    }


    
    .detail-body-center-banner-content #alltobe2 {
        grid-template-columns: auto auto auto auto auto;
    }

    .detail-body-center-banner-content #alltobe2 a {
        width: 190px !important;
    }

    .detail-body-center-banner-content-descript {
        min-height: 330px;
        background-color: #3c1e6e;
        display: flex;
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
    }
    .detail-body-center-banner-content-descript-left{
        width: 80%;
    }
    .detail-body-center-banner-content-descript-left-header{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .detail-body-center-banner-content-descript-left-header-title{
        display: flex;
        flex-direction: column;
    }
    .detail-body-center-banner-content-descript-left-header-title label{
        font-size: 1.2rem;
    }
    .detail-body-center-banner-content-descript-left-header-title span{
        font-size: 0.7em;
        font-weight: normal;
        opacity: 0.5;
        color: rgb(222, 202, 255);
    }
    .detail-body-center-banner-content-descript-left-header-action{
        display: flex;
        align-items: center;
    }
    .detail-body-center-banner-content-descript-left-header-action .share{
        font-size: 0.7em;
        display: flex;
        border-radius: 20px;
        background-color: rgb(40, 34, 84);
        padding: 10px 15px 10px 5px;
        cursor: pointer;
    }
    .detail-body-center-banner-content-descript-left-header-action .share:hover{
        background-color: rgb(10, 8, 22);
    }
    
    .detail-body-center-banner-content-descript-left-header-action .share svg{
        width: 24px;
        height: 15px;
    }
    .detail-body-center-banner-content-descript-left-header-action .item{
        display: flex;
        align-items: center;
        font-size: 0.7em;
        margin-left: 10px; 
    }
    .detail-body-center-banner-content-descript-left-header-action .item .item1{
        display: flex;
        flex-direction: column;
    }
    .detail-body-center-banner-content-descript-left-header-action .label{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background-color: white;
        color: black;
        margin-left: 10px;
      
    }


    .detail-body-center-banner-content-descript-left p{
        opacity: 0.5;
        font-size: 0.8em;
        margin: 5px 0px 5px 0px;
    }
    .detail-body-center-banner-content-descript-left .category{
        margin-top: 10px;
        
    }
    .detail-body-center-banner-content-descript-left .category .item{
        background-color: rgb(40, 34, 84);
        padding: 10px 10px 10px 10px;
        cursor: pointer;
        min-width: 70px;
        border-radius: 20px;
        display: flex;
        float: left;
        cursor: pointer;
    }
    .detail-body-center-banner-content-descript-left .category .item:hover{
        background-color: rgb(10, 8, 22);
    }
    .detail-body-center-banner-content-descript-right-box{
        width: 20px;
        height: 20px;
        background-color: gold;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .detail-body-center-banner .detail-body-center-banner-right .btn-detail:hover {
        transform: scale(1.2);
    }

  

    .detail-body-center-banner .detail-body-center-banner-left {
        width: 100%;
        height: 300px;
    }

    .detail-body-center-banner .detail-body-center-banner-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 25%;
        
    }

    .detail-body-center-banner .detail-body-center-banner-right label {
        letter-spacing: 5px;
        opacity: 0.5;
        color: white;
    }

    .detail-body-center-banner .detail-body-center-banner-right h3 {
        color: white;
        font-family: "Fredoka One", sans-serif;
        font-size: 1.7em;
        font-weight: bold;
    }

    .detail-body-center-banner .detail-body-center-banner-right .btn-detail {
        font-size: 22px;
        color: rgb(60, 30, 110);
        text-transform: capitalize;
        font-family: "Fredoka One", sans-serif;
        cursor: pointer;
        transform: perspective(1px) translateZ(0px);
        transition-duration: 0.2s;
        background-color: rgb(53, 253, 255);
        -webkit-box-align: center;
        align-items: center;
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        position: relative;
        border-radius: 100px;
        padding: 1.5vh 2vw;
        font-weight: bold;
        margin-top: 5px;
    }

    .detail-body-center-banner .detail-body-center-banner-right .btn-detail:hover {
        transform: scale(1.2);
    }

    .detail-body-center #alltobe3 {
        grid-template-columns: auto auto auto auto auto;
    }

}