#post1 {
    margin: 10px;
}

#newfeed {
    margin: 10px;
}

/* Css một layout scroll */
.post3-content {
    min-height: 188px;
    width: auto;
    overflow-x: auto;
    display: -webkit-box;
    padding-top: 60px;
    scroll-behavior: smooth;

}

.post3-content::-webkit-scrollbar {
    height: 0.1px;
}

/* Css item */
.post3-content .item {
    width: 180px;
    height: 100px;
    margin: 0px 5px 0px 5px;


}

.post3-content .item:hover {
    box-shadow: 0px 0px 0.1px 2px rgb(58, 169, 255);
    border-radius: 7px;
}

.position-relative {
    position: relative;
}

.item-progress {
    z-index: 1;
    height: 60px;
    width: 100%;
    background: rgb(148, 148, 148);
    background: linear-gradient(180deg, rgba(148, 148, 148, 0) 0%, rgba(6, 6, 6, 1) 100%);
    bottom: 0px;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 0px 0px 7px 7px;

}

.position-absolute {
    position: absolute;
}

.item-sub {
    width: 100%;
    height: 100%;
}

.show-item {
    cursor: pointer;
    z-index: 1;
    animation-name: show;
    animation-duration: 0.2s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
    font-size: 13px;
}

.background-blue {
    background-color: rgb(58, 169, 255);
    border-radius: 7px;
}

@keyframes show {
    from {
        width: 180;
        height: 100px;
        border-radius: 7px;
        font-size: 13px;

    }

    to {
        width: 230px;
        height: 150px;
        box-shadow: 0px 0px 0.1px 3px rgb(58, 169, 255);
        /* border: 3px solid rgb(58, 169, 255); */
        border-radius: 7px;
        font-size: 17px;
    }
}

.next {
    right: 0px;
    top: 0px;
}

.prev {
    left: 0px;
    top: 0px;
}

.next,
.prev {
    width: 50px;
    height: 100px;

    background-color: rgba(0, 0, 0, 0.544);
    margin-top: 60px;
    font-size: 60px;
    color: white;
    z-index: 100;
    cursor: pointer;
}

.post2-title {
    width: 100%;
    height: 50px;
    top: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    align-items: center;

}

.post2-title a {
    font-family: "Montserrat", Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    margin-left: 10px;
    font-size: 14px;
    color: cyan;
}

.post2-title-name {
    font-weight: 600;
    font-style: 55px;
    color: white;
}

.box-newfeed {
    margin-bottom: 25px;
    height: 220px;
}

.box-newfeed-1 {
    padding: 0px 5px;
    cursor: pointer;
}

.box-newfeed-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
}

.box-newfeed-name {
    display: none;
    position: absolute;
    z-index: 1;
    height: 50%;
    width: 100%;
    background: rgb(148, 148, 148);
    background: linear-gradient(180deg, rgba(148, 148, 148, 0) 0%, rgba(6, 6, 6, 1) 100%);
    bottom: 0px;
    left: 0px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    align-items: flex-end;
    opacity: 0;

}

.box-newfeed-1:hover .box-newfeed-name {
    opacity: 1;
}

.full {
    height: 220px !important;
}
.box-newfeed-2{
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    width: 400px;
}
.box-newfeed-2 .item{
    width: 200px;
    height: 100% !important;
    margin: auto !important;
}
.item-progress-display{
    display: none;
}
.next-mobile{
    display: none;
}
@media only screen and (max-width: 720px) {
    .box-newfeed-name{
        opacity: 1;
    }
    .next, .prev, .show-item iframe, .item-progress{
        display: none;
    }
    .item-progress-display{
        z-index: 1;
        height: 60px;
        width: 100%;
        background: rgb(148, 148, 148);
        background: linear-gradient(180deg, rgba(148, 148, 148, 0) 0%, rgba(6, 6, 6, 1) 100%);
        bottom: 0px;
        padding-left: 10px;
        padding-bottom: 10px;
        display: flex;
        align-items: flex-end;
        border-radius: 0px 0px 6px 6px;
        font-size: 13px;
    }
    .next-mobile{
        position: absolute;
        right: 5px;
        top: 10px;
        width: 30px;
        display: block;
        
    }
    .next-mobile svg{
        fill: white;
    }
  
    .item img{
        display:  block !important;
    }
    .show-item {
        cursor: pointer;
        z-index: 1;
        animation-name:ahahha;
        font-size: 13px;
    }
}