.container-search{
    min-height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container-search-title{
  height: 60px;
  font-size: 30px;  
  margin-top: 30px;
  color: white;
}
.container-search-content{
    text-align: center;
    font-family: "Montserrat",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
}
.container-search-input div input{
    min-width: 300px;
    height: 50px;
    border: 3px solid rgb(59, 6, 73);
    outline: none;
    border-radius: 3px;
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 10px;
}
.container-search-input div svg{
  width: 30px;
  fill: aqua;
  margin-top: 15px;
  margin-left: 10px;
}