@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
body {
    margin: 0;
    color: #decaff;
    /* font-size: 14px; */
    /* font-family: Montserrat, Arial, "Helvetica Neue", Helvetica, sans-serif; */
    font-family: "Fredoka One",verdana,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background-color: #1b0131;
    padding-top: 4em;
}
.container-title{
    font-size: 30px;
    color: white;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    margin-top: 10px;
}
.container-title-sub{
    font-size: 16px;
    font-weight: 400;
    padding: 5px 10px 15px 10px;
    font-family: "Montserrat",Arial,"Helvetica Neue",Helvetica,sans-serif;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: #3c1e6e;
    border-radius: 5px;
}

.menu-fixel {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #3c1e6e;
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    
}

.menu-fixel-left {
    max-width: 1100px;
    display: flex;
}

.menu-fixel-icon {
    width: 200px;
    display: flex;
    border-right: 0.1px solid rgba(128, 128, 128, 0.23);
    margin-right: 10px;
}

.menu-fixel-icon-item {
    width: 100%;
    align-items: center;
    display: flex;
    height: 100%;
    position: relative;
    
}
.menu-fixel-sub-menu{
    position: absolute;
    z-index: 100;
    left: -10px;
    right: -1px;
    top: 65px;
    background-color: rgb(105, 55, 185);
    border-bottom-right-radius: 5px;
    padding: 10px 0px;
    animation-name: opemMenuHehe;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes opemMenuHehe {
    from{
        height: 0px;
        opacity: 0;
    }
    to{
        height: 340px;
        opacity: 1;
    }
}



.menu-fixel-sub-menu-item, .menu-fixel-sub-menu-l, .menu-fixel-sub-menu-item-sub{
    width: 100%;
    padding: 0px 20px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    font-family: "Montserrat",Arial,"Helvetica Neue",Helvetica,sans-serif;
    cursor: pointer;
}
.menu-fixel-sub-menu-item:hover, .menu-fixel-sub-menu-item-sub:hover{
    background-color: rgba(128, 128, 128, 0.205);
}
.display-none{
    display: none;
}
.menu-fixel-sub-menu-item-sub{
  display: flex;
  align-items: center;
  justify-content: space-between;  
  font-weight: 700;
  font-size: 14px;
  position: relative;
  
}

.menu-fixel-sub-menu-item-sub-sub{
    position: absolute;
    z-index: 1000;
    width: 120px;
    right: -120px;
    top: -150px;
    height: 300px;
    background-color: #533488;
    overflow-y: auto;
    box-shadow: 0px 0px 9px 1px rgba(51, 51, 51, 0.326);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.menu-fixel-sub-menu-item-sub-sub::-webkit-scrollbar{
    width: 4px;
}
.menu-fixel-sub-menu-item-sub-sub::-webkit-scrollbar-thumb{
    background-color: rgb(134, 69, 224);
    border-radius: 1px;
}
.menu-fixel-sub-menu-hr{
    border-bottom: 0.1px solid grey;
    margin: 10px 3% 7px 3%;
    width: 94%;
}

.menu-fixel-sub-menu-item-sub-arow{
    width: 22px;
    height: 22px;
   
    display: flex;
    align-items: center;
    border-radius: 7px;
    margin-left: 17px;
    cursor: pointer;
}

.arrow-180{
    transform: rotate(180deg);
    background-color: #6937b9;
}

.arrow-225{
    transform: rotate(-90deg);
    background-color: #6937b9;
}

.menu-fixel-icon-arow{
    width: 22px;
    height: 22px;
    border-color: #533488;
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    margin-left: 17px;
    cursor: pointer;
}


.menu-fixel-icon-arow:hover {
    background-color: #6937b9;
}

.menu-fixel-item {
    width: 900px;
    overflow-x: scroll;
}

.menu-fixel-item::-webkit-scrollbar {
    height: 5px;
}

.menu-fixel-item::-webkit-scrollbar-thumb {
    background-color: #6937b9;
    border-radius: 5px;
}

.menu-fixel-search {
    /* position: absolute;
    right: 20px;
    top: 25%; */
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.menu-fixel-search .menu-fixel-search-box {
    width: 224px;
    font-size: 14px;
    display: flex;
    background-color: rgb(42 18 83);
    border-radius: 10px;
    height: 35px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
}

.menu-fixel-search-box input {
    display: flex;
    border: none;
    outline: none;
    background: none;
    color: rgb(240, 197, 197);
    width: 80%;
}

.menu-fixel-search-box svg {
    cursor: pointer;
}
/* 
.menu-fixel-search-box:hover svg {
    display: block;
    cursor: pointer;

} */

.menu-seatch-ico {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-fixel-search-box .menu-seatch-ico:hover {
    background: #3b2560;
}



.center {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item-link {
    display: flex;
    align-items: center;
    height: 4rem;
    border-bottom: 3px solid #3c1e6e;
}

.nav-item-link-ico {
    width: 1.3rem;
}


.nav-item-link:hover {
    height: 4rem;
    border-bottom: 3px solid rgb(163, 153, 244);
}

.nav-item-link-home {
    border-bottom: 3px solid rgb(211, 38, 255);
}
.nav-item-link-recent{
    border-bottom: 3px solid rgb(255, 150, 38);
}
.nav-item-link-action {
    border-bottom: 3px solid rgb(87, 238, 255);
}
.nav-item-link-advanture {
    border-bottom: 3px solid rgb(255, 239, 61);
}

.nav-item-link-arcade {
    border-bottom: 3px solid rgb(38, 139, 255);
}
.nav-item-link:hover {
    height: 4rem;
    border-bottom: 3px solid rgb(163, 153, 244);
}

.nav-item-link-beauty {
    border-bottom: 3px solid rgb(255, 38, 230);
}
.nav-item-link-recent{
    border-bottom: 3px solid rgb(38, 67, 255);
}
.nav-item-link-driving {
    border-bottom: 3px solid rgb(255, 38, 92);
}
.nav-item-link-io {
    border-bottom: 3px solid rgb(49, 255, 38);
}
.nav-item-link-puzzle {
    border-bottom: 3px solid rgb(241, 255, 38);
}
.nav-item-link-shooting {
    border-bottom: 3px solid rgb(38, 219, 255);
}
.nav-item-link-sport {
    border-bottom: 3px solid rgb(255, 197, 38);
}
.nav-item-link-clicker {
    border-bottom: 3px solid rgb(255, 197, 38);
}
.menu-fixel-moblie{
    display: none;
}
.menu-fixel-moblie-menu-search{
    display: none;
}


@media screen and (min-width: 1400px) {
    /* STYLES HERE */
    .menu-fixel-left {
        max-width: 100%;
    }
    .menu-fixel-item {
        width: 100%;
        overflow-x: scroll;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1400px) {
    .menu-fixel-left {
        max-width: 1100px;
    }
    .menu-fixel-item {
        width: 1000px;
        overflow-x: scroll;
    }

    .nav-item-link-ico {
        display: none;
    }
}
@media screen and (min-width: 1199px) and (max-width: 1299px) {
    .menu-fixel-left {
        max-width: 1000px;
    }
    .menu-fixel-item {
        width: 700px;
        overflow-x: scroll;
    }

    .nav-item-link-ico {
        display: none;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .menu-fixel-left {
        max-width: 800px;
    }
    .menu-fixel-item {
        width: 700px;
        overflow-x: scroll;
    }

    .nav-item-link-ico {
        display: none;
    }
}
@media screen and (min-width: 700px) and (max-width: 999px) {
    .menu-fixel-left {
        max-width: 590px;
    }
    .menu-fixel-item {
        width: 337px;
        overflow-x: scroll;
    }

    .nav-item-link-ico {
        display: none;
    }
}
@media screen and (min-width: 601px) and (max-width: 700px) {
    .menu-fixel-left {
        max-width: 400px;
    }
    .menu-fixel-item {
        width: 300px;
        overflow-x: scroll;
    }

    .nav-item-link-ico {
        display: none;
    }
}

@media screen and (max-width: 600px)  {
    .menu-fixel-moblie-menu-search{
        display: flex;
    }
    body::-webkit-scrollbar {
        width: 0px;
    }
    .menu-fixel-moblie{
        display: block;
    }
    .menu-fixel-left {
        max-width: 600px;
        
    }
    .menu-fixel-search{
        display: none;
    }
    .menu-fixel-item {
        width: 400px;
        display: none;
        overflow-x: scroll;
    }

    .nav-item-link-ico {
        display: none;
    }
    .menu-fixel-icon-item .css-15yrdju svg{
        height: 35px !important;
        margin: 5px 0px 5px 0px;
    }
    .menu-fixel{
        height: 64px;
    }
    .menu-fixel-icon{
        padding-right: 10px;
    }
    .menu-fixel-icon {
        width: 100%;
    }
    /*  */
.menu-fixel-moblie{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-fixel-moblie-menu{
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    padding-left: 10px;
    cursor: pointer;
}
.menu-fixel-moblie-menu svg{
    fill: white;
    width: 20px;
    height: 20px;
}
.menu-fixel-moblie-search{
    padding-right: 10px;
    cursor: pointer;
}
.menu-fixel-moblie-search svg{
    fill: white;
    width: 24px;
    height: 24px;
    
}
.menu-fixel-moblie-menu-sub{
    width: 103%;
    height: 400px;
    background-color: rgb(60, 30, 110);
    right: -10px;
    top: 64px;
    overflow-y: auto;
    animation-name: opemMenuHehe2;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes opemMenuHehe2 {
    from{
        height: 0px;
        opacity: 0;
    }
    to{
        height: 400px;
        opacity: 1;
    }
}
.menu-fixel-moblie-menu-sub::-webkit-scrollbar {
    width: 5px;
}

.menu-fixel-moblie-menu-sub::-webkit-scrollbar-thumb {
    background-color: #6937b9;
    border-radius: 5px;
}
.menu-mobile-sub-item{
    width: 100%;
    height: 35px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    font-size: 13px;
    color: white;
}
.menu-mobile-sub-item-icon{
    width: 50px;
    height: 100%;
}
.menu-mobile-sub-item-icon svg{
    width: 20px;
    height: 20px;
}

/*  */
.menu-fixel-moblie-menu-search{
    width: 80%;
    left: 0px;
    top: 0px;
    height: 64px;
    background-color: #3c1e6e;
    z-index: 1;
}
.menu-fixel-moblie-menu-search input{
    width: 90%;
    height: 45px;
    outline: none;
    border-radius: 7px;
    background-color: #1b0131;
    padding: 0px 10px;
    animation-name: opemMenuHehe3;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes opemMenuHehe3 {
    from{
        height: 0px;
        opacity: 0;
    }
    to{
        height: 45px;
        opacity: 1;
    }
}
}

/* Comment */

.box-comment{
    width: 96%;
    min-height: 200px;
    margin: 20px 2% 40px 2%;
}

.box-comment-title{
    height: 50px;
    width: 250px;
    background-color: #3C1E6E;
    border-radius: 7px 7px 0px 0px;
    color: white;
    font-size: 14px;
}
.box-comment-show{
    background-color: #3C1E6E;
    height: 50px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding-top: 5px;
    cursor: pointer;

}
.box-comment-show:hover .box-comment-show-text, .box-comment-show:hover .box-comment-show-layout{
    opacity: 0.7;
}
.box-comment-show-text{
    height: 30px;
    background-color: #6937B9;
    width: 120px;
    border-radius: 7px 7px 0px 0px;
    font-family: "Montserrat",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 13px;
    justify-content: space-evenly !important;
}
.box-comment-show-text svg{
    width: 17px;
    height: 17px;
    fill: white;
}
.box-comment-show-layout{
    width: 100%;
    height: 15px;
    background-color: #6937B9;
}


/*  */
.box-comment-content{
    width: 100%;
    
    background-color: #3C1E6E;
    padding: 24px;
    overflow-y: auto;
}
.box-comment-content-less{
    height: 300px;
}
.box-comment-content-more{
    height: auto;
}

.box-comment-content::-webkit-scrollbar {
    height: 5px;
    background-color: #351070;
    width: 4px;
}

.box-comment-content::-webkit-scrollbar-thumb {
    background-color: #502693;
    border-radius: 5px;
}

.box-comment-content h2{
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
.box-comment-content p{
    font-family: "Montserrat",Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-size: 14px;
    margin-top: 15px;
}
.box-comment-content ul{
    list-style: square;
    list-style-type: disc;
    list-style-position: inside;
    color: aqua;
    padding-left: 20px;
    margin: 10px 5px;
    font-size: 16px;
    
}
.box-comment-content li::marker{
    color: white;
}
.box-comment-content a{
    font-family: "Fredoka One",verdana,sans-serif;
    color: aqua;
}


